src/Arma3BEService.TestClient/Service References/ServiceReference1/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Arma3BEService.Lib.ModelCompact" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Arma3BEService.Lib.ModelCompact" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Arma3WCFService/service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Server">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServerBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Port" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Server" nillable="true" type="tns:Server" />
  <xs:complexType name="ServerBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerBase" nillable="true" type="tns:ServerBase" />
  <xs:complexType name="ArrayOfServerBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerBase" nillable="true" type="tns:ServerBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerBase" nillable="true" type="tns:ArrayOfServerBase" />
</xs:schema>